<div class="order-summary">
  <h2>Order Summary</h2>
  <div class="cart-table">
    <div class="cart-row header">
      <span>Product</span>
      <span>Price</span>
      <span>Quantity</span>
      <span>Amount</span>
    </div>
    <div class="cart-items">
      <div *ngFor="let item of cartItems" class="cart-row">
        <span>{{ item.product.name }}</span>
        <span>{{ item.product.price | currency }}</span>
        <span>{{ item.quantity }}</span>
        <span>{{ getAmount(item) | currency }}</span>
      </div>
    </div>
  </div>
  <div class="cart-summary">
    <p>Total Amount: {{ cartSummary.totalAmount | currency }}</p>
    <p>Discount Amount: {{ cartSummary.discountAmount | currency }}</p>
    <p style="font-weight: bold; color: rgb(0, 0, 255)">
      Payable Amount: {{ cartSummary.payableAmount | currency }}
    </p>
  </div>
  <button *ngIf="showEditButton" (click)="navigateToCart()">Edit</button>
</div>
