.order-summary {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.cart-table {
  margin-bottom: 15px;
}

.cart-row.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  padding: 10px 0;
  align-items: left;
  text-align: left;
}

.cart-items {
  display: grid;
  gap: 10px;
}

.cart-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.cart-summary {
  margin-top: 20px;
  font-size: 1.2rem;
}

.cart-summary p {
  margin: 10px 0;
}

/* button {
  font-size: 1.1rem;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
} */

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
